# Testing MySql Source & target
## using storey engine

In [1]:
import mlrun
import os

project = mlrun.get_or_create_project(name='sqlsource-test')

MYSQL_URL = os.environ.get('TEST_MYSQL_DB_URL', None) # e.g. mysql+pymysql://root:password@193.169.225.245:3306
DATABASE = os.environ.get('DATABASE', 'testing')

assert MYSQL_URL!=None, 'please provide MYSQL url'

MYSQL_DB_URL = os.path.join(MYSQL_URL,DATABASE)

> 2023-02-16 10:04:59,165 [info] Created and saved project sqlsource-test: {'from_template': None, 'overwrite': False, 'context': './', 'save': True}
> 2023-02-16 10:04:59,166 [info] created project sqlsource-test and saved in MLRun DB

## SqlTarget

In [2]:
from sklearn.datasets import load_iris
import datetime

df = load_iris(as_frame=True).data
df.columns = ["sepal_length",
         "sepal_width",
         "petal_length",
         "petal_width"]

df['timestamp'] = [datetime.datetime.now() + datetime.timedelta(seconds=i) for i in range(df.shape[0])]
df['label'] = load_iris().target
df['index'] = [str(x) for x in range(df.shape[0])]
df.head()

,sepal_length,sepal_width,petal_length,petal_width,timestamp,label,index
0,5.1,3.5,1.4,0.2,2023-02-16 10:04:59.705283,0,0
1,4.9,3.0,1.4,0.2,2023-02-16 10:05:00.705299,0,1
2,4.7,3.2,1.3,0.2,2023-02-16 10:05:01.705302,0,2
3,4.6,3.1,1.5,0.2,2023-02-16 10:05:02.705304,0,3
4,5.0,3.6,1.4,0.2,2023-02-16 10:05:03.705305,0,4

In [3]:
schema = {"sepal_length": float,
          "sepal_width": float,
          "petal_length": float,
          "petal_width": float,
          "label": int,
          "timestamp": datetime.datetime,
          "index": str}

from mlrun.datastore.targets import SQLTarget

sql_target = SQLTarget(db_url=MYSQL_DB_URL,
                       table_name="iris",
                       schema=schema,
                       primary_key_column="index",
                       create_table=True)

In [4]:
import mlrun.feature_store as fstore

# Define the transactions FeatureSet
iris_set = fstore.FeatureSet("iris", 
                             entities=[fstore.Entity("index")], timestamp_key="timestamp",
                             description="transactions feature set")

In [5]:
fstore.ingest(iris_set, df, targets=[sql_target])

,sepal_length,sepal_width,petal_length,petal_width,timestamp,label
index,,,,,,
0,5.1,3.5,1.4,0.2,2023-02-16 10:04:59.705283,0
1,4.9,3.0,1.4,0.2,2023-02-16 10:05:00.705299,0
2,4.7,3.2,1.3,0.2,2023-02-16 10:05:01.705302,0
3,4.6,3.1,1.5,0.2,2023-02-16 10:05:02.705304,0
4,5.0,3.6,1.4,0.2,2023-02-16 10:05:03.705305,0
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2023-02-16 10:07:24.705560,2
146,6.3,2.5,5.0,1.9,2023-02-16 10:07:25.705561,2
147,6.5,3.0,5.2,2.0,2023-02-16 10:07:26.705563,2
148,6.2,3.4,5.4,2.3,2023-02-16 10:07:27.705565,2
149,5.9,3.0,5.1,1.8,2023-02-16 10:07:28.705567,2

## SQLSource

In [6]:
from mlrun.datastore.sources import SQLSource

sql_source = SQLSource(table_name='iris', 
                       db_url=MYSQL_DB_URL, 
                       key_field='index')

In [7]:
feature_set = fstore.FeatureSet("iris2", entities=[fstore.Entity('index')])
feature_set.set_targets(['parquet'], with_defaults=False)
fstore.ingest(feature_set, source=sql_source)

,sepal_length,sepal_width,petal_length,petal_width,label,timestamp
index,,,,,,
0,5.1,3.5,1.4,0.2,0,2023-02-16 10:04:59.705283
1,4.9,3.0,1.4,0.2,0,2023-02-16 10:05:00.705299
10,5.4,3.7,1.5,0.2,0,2023-02-16 10:05:09.705317
100,6.3,3.3,6.0,2.5,2,2023-02-16 10:06:39.705479
101,5.8,2.7,5.1,1.9,2,2023-02-16 10:06:40.705481
...,...,...,...,...,...,...
95,5.7,3.0,4.2,1.2,1,2023-02-16 10:06:34.705470
96,5.7,2.9,4.2,1.3,1,2023-02-16 10:06:35.705472
97,6.2,2.9,4.3,1.3,1,2023-02-16 10:06:36.705474
98,5.1,2.5,3.0,1.1,1,2023-02-16 10:06:37.705476
99,5.7,2.8,4.1,1.3,1,2023-02-16 10:06:38.705478

## deletion

In [8]:
import pymysql
from urllib.parse import urlparse

conn = pymysql.connect(host=urlparse(MYSQL_URL).netloc[urlparse(MYSQL_URL).netloc.index('@')+1:-5],
                       user='root',
                       passwd='password',
                       db=DATABASE)
cur = conn.cursor()
cur.execute(f'USE {DATABASE}')
sql = """drop table iris"""
cur.execute(sql)
cur.connection.commit()
variable = cur.fetchall()

In [9]:
projects = [project]
for project in projects:
    mlrun.get_run_db().delete_project(name=project.name, deletion_strategy='cascade')

import shutil
for f in os.listdir():
    if (not f.endswith('ipynb')) and f != '.test':
        if os.path.isfile(f):
            os.remove(f)
        elif os.path.isdir(f):
            shutil.rmtree(f)
        else:
            raise "A file that is not a notebook wasn't deleted"