# Testing MySql Source & target
## using storey engine

In [1]:
!pip install sqlalchemy~=1.4.0
!pip install scikit-learn

Requirement already satisfied: sqlalchemy~=1.4.0 in /User/.pythonlibs/mlrun-base/lib/python3.9/site-packages (1.4.0)
Requirement already satisfied: greenlet!=0.4.17 in /User/.pythonlibs/mlrun-base/lib/python3.9/site-packages (from sqlalchemy~=1.4.0) (2.0.2)
Requirement already satisfied: scikit-learn in /User/.pythonlibs/mlrun-base/lib/python3.9/site-packages (1.2.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /User/.pythonlibs/mlrun-base/lib/python3.9/site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: joblib>=1.1.1 in /User/.pythonlibs/mlrun-base/lib/python3.9/site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in /conda/envs/mlrun-base/lib/python3.9/site-packages (from scikit-learn) (1.22.4)
Requirement already satisfied: scipy>=1.3.2 in /conda/envs/mlrun-base/lib/python3.9/site-packages (from scikit-learn) (1.10.1)

In [2]:
import mlrun
import os

project = mlrun.get_or_create_project(name='sqlsource-test')

MYSQL_URL = os.environ.get('TEST_MYSQL_DB_URL', None) # e.g. mysql+pymysql://root:password@193.169.225.245:3306
DATABASE = os.environ.get('DATABASE', 'test_notebooks')

assert MYSQL_URL!=None, 'please provide MYSQL url'

MYSQL_DB_URL = os.path.join(MYSQL_URL,DATABASE)

> 2023-03-05 12:34:19,929 [info] loaded project sqlsource-test from MLRun DB

## SqlTarget

Storey

In [3]:
from sklearn.datasets import load_iris
import datetime

df = load_iris(as_frame=True).data
df.columns = ["sepal_length",
         "sepal_width",
         "petal_length",
         "petal_width"]

df['timestamp'] = [datetime.datetime.now() + datetime.timedelta(seconds=i) for i in range(df.shape[0])]
df['label'] = load_iris().target
df['index'] = [str(x) for x in range(df.shape[0])]
df.head()

,sepal_length,sepal_width,petal_length,petal_width,timestamp,label,index
0,5.1,3.5,1.4,0.2,2023-03-05 12:34:20.891542,0,0
1,4.9,3.0,1.4,0.2,2023-03-05 12:34:21.891552,0,1
2,4.7,3.2,1.3,0.2,2023-03-05 12:34:22.891554,0,2
3,4.6,3.1,1.5,0.2,2023-03-05 12:34:23.891555,0,3
4,5.0,3.6,1.4,0.2,2023-03-05 12:34:24.891556,0,4

In [4]:
schema = {'sepal_length': float,
          'sepal_width': float,
          'petal_length': float,
          'petal_width': float,
          'label': int,
          'timestamp': datetime.datetime,
          'timestamp_hour': int,
          'timestamp_day_of_week': int,
          'label_mapped': str,
          'index': str,
         }

from mlrun.datastore.targets import SQLTarget

sql_target = SQLTarget(db_url=MYSQL_DB_URL,
                       table_name="iris",
                       schema=schema,
                       primary_key_column="index",
                       create_table=True)

In [5]:
import mlrun.feature_store as fstore
from mlrun.feature_store.steps import DateExtractor, MapValues

iris_label_dict = {i: label for i,label in enumerate(load_iris(as_frame=True).target_names)}

# Define the transactions FeatureSet
iris_set = fstore.FeatureSet("iris", 
                             entities=[fstore.Entity("index")], timestamp_key="timestamp",
                             description="transactions feature set",
                             engine='storey')

iris_set.graph\
    .to(DateExtractor(parts = ['hour', 'day_of_week'], timestamp_col = 'timestamp'))\
    .to(MapValues(mapping={'label': iris_label_dict}, with_original_features=True))

iris_set.plot(rankdir="LR")

In [6]:
fstore.ingest(iris_set, df, targets=[sql_target])

,label_mapped,sepal_length,sepal_width,petal_length,petal_width,timestamp,label,timestamp_hour,timestamp_day_of_week
index,,,,,,,,,
0,setosa,5.1,3.5,1.4,0.2,2023-03-05 12:34:20.891542,0,12,6
1,setosa,4.9,3.0,1.4,0.2,2023-03-05 12:34:21.891552,0,12,6
2,setosa,4.7,3.2,1.3,0.2,2023-03-05 12:34:22.891554,0,12,6
3,setosa,4.6,3.1,1.5,0.2,2023-03-05 12:34:23.891555,0,12,6
4,setosa,5.0,3.6,1.4,0.2,2023-03-05 12:34:24.891556,0,12,6
...,...,...,...,...,...,...,...,...,...
145,virginica,6.7,3.0,5.2,2.3,2023-03-05 12:36:45.891749,2,12,6
146,virginica,6.3,2.5,5.0,1.9,2023-03-05 12:36:46.891750,2,12,6
147,virginica,6.5,3.0,5.2,2.0,2023-03-05 12:36:47.891751,2,12,6
148,virginica,6.2,3.4,5.4,2.3,2023-03-05 12:36:48.891752,2,12,6
149,virginica,5.9,3.0,5.1,1.8,2023-03-05 12:36:49.891754,2,12,6

pandas

In [7]:
sql_target = SQLTarget(db_url=MYSQL_DB_URL,
                       table_name="iris2",
                       schema=schema,
                       primary_key_column="index",
                       create_table=True)

In [8]:
import mlrun.feature_store as fstore

# Define the transactions FeatureSet
iris_set = fstore.FeatureSet("iris2", 
                             entities=[fstore.Entity("index")], timestamp_key="timestamp",
                             description="transactions feature set",
                             engine='pandas')

iris_set.graph\
    .to(DateExtractor(parts = ['hour', 'day_of_week'], timestamp_col = 'timestamp'))\
    .to(MapValues(mapping={'label': iris_label_dict}, with_original_features=True))

iris_set.plot(rankdir="LR")

In [9]:
fstore.ingest(iris_set, df, targets=[sql_target])

,sepal_length,sepal_width,petal_length,petal_width,timestamp,label,timestamp_hour,timestamp_day_of_week,label_mapped
index,,,,,,,,,
0,5.1,3.5,1.4,0.2,2023-03-05 12:34:20.891542,0,12,6,setosa
1,4.9,3.0,1.4,0.2,2023-03-05 12:34:21.891552,0,12,6,setosa
2,4.7,3.2,1.3,0.2,2023-03-05 12:34:22.891554,0,12,6,setosa
3,4.6,3.1,1.5,0.2,2023-03-05 12:34:23.891555,0,12,6,setosa
4,5.0,3.6,1.4,0.2,2023-03-05 12:34:24.891556,0,12,6,setosa
...,...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2023-03-05 12:36:45.891749,2,12,6,virginica
146,6.3,2.5,5.0,1.9,2023-03-05 12:36:46.891750,2,12,6,virginica
147,6.5,3.0,5.2,2.0,2023-03-05 12:36:47.891751,2,12,6,virginica
148,6.2,3.4,5.4,2.3,2023-03-05 12:36:48.891752,2,12,6,virginica
149,5.9,3.0,5.1,1.8,2023-03-05 12:36:49.891754,2,12,6,virginica

## SQLSource

Storey

In [10]:
from mlrun.datastore.sources import SQLSource

sql_source = SQLSource(table_name='iris', 
                       db_url=MYSQL_DB_URL, 
                       key_field='index')

In [11]:
feature_set = fstore.FeatureSet("iris3", entities=[fstore.Entity('index')], engine='storey')

feature_set.graph\
    .to(DateExtractor(parts = ['month', 'year'], timestamp_col = 'timestamp'))\
    .to(MapValues(mapping={'label': iris_label_dict}, with_original_features=True, suffix='mapped2'))

feature_set.plot(rankdir="LR")


feature_set.set_targets(['parquet'], with_defaults=False)
fstore.ingest(feature_set, source=sql_source)

,label_mapped2,sepal_length,sepal_width,petal_length,petal_width,label,timestamp,timestamp_hour,timestamp_day_of_week,label_mapped,timestamp_month,timestamp_year
index,,,,,,,,,,,,
0,setosa,5.1,3.5,1.4,0.2,0,2023-03-05 12:34:20.891542,12,6,setosa,3,2023
1,setosa,4.9,3.0,1.4,0.2,0,2023-03-05 12:34:21.891552,12,6,setosa,3,2023
10,setosa,5.4,3.7,1.5,0.2,0,2023-03-05 12:34:30.891564,12,6,setosa,3,2023
100,virginica,6.3,3.3,6.0,2.5,2,2023-03-05 12:36:00.891695,12,6,virginica,3,2023
101,virginica,5.8,2.7,5.1,1.9,2,2023-03-05 12:36:01.891696,12,6,virginica,3,2023
...,...,...,...,...,...,...,...,...,...,...,...,...
95,versicolor,5.7,3.0,4.2,1.2,1,2023-03-05 12:35:55.891689,12,6,versicolor,3,2023
96,versicolor,5.7,2.9,4.2,1.3,1,2023-03-05 12:35:56.891691,12,6,versicolor,3,2023
97,versicolor,6.2,2.9,4.3,1.3,1,2023-03-05 12:35:57.891692,12,6,versicolor,3,2023
98,versicolor,5.1,2.5,3.0,1.1,1,2023-03-05 12:35:58.891693,12,6,versicolor,3,2023
99,versicolor,5.7,2.8,4.1,1.3,1,2023-03-05 12:35:59.891694,12,6,versicolor,3,2023

pandas

In [12]:
feature_set = fstore.FeatureSet("iris4", entities=[fstore.Entity('index')], engine='pandas')

feature_set.graph\
    .to(DateExtractor(parts = ['month', 'year'], timestamp_col = 'timestamp'))\
    .to(MapValues(mapping={'label': iris_label_dict}, with_original_features=True, suffix='mapped2'))

feature_set.plot(rankdir="LR")

feature_set.set_targets(['parquet'], with_defaults=False)
fstore.ingest(feature_set, source=sql_source)

,sepal_length,sepal_width,petal_length,petal_width,label,timestamp,timestamp_hour,timestamp_day_of_week,label_mapped,timestamp_month,timestamp_year,label_mapped2
index,,,,,,,,,,,,
0,5.1,3.5,1.4,0.2,0,2023-03-05 12:34:20.891542,12,6,setosa,3,2023,setosa
1,4.9,3.0,1.4,0.2,0,2023-03-05 12:34:21.891552,12,6,setosa,3,2023,setosa
10,5.4,3.7,1.5,0.2,0,2023-03-05 12:34:30.891564,12,6,setosa,3,2023,setosa
100,6.3,3.3,6.0,2.5,2,2023-03-05 12:36:00.891695,12,6,virginica,3,2023,virginica
101,5.8,2.7,5.1,1.9,2,2023-03-05 12:36:01.891696,12,6,virginica,3,2023,virginica
...,...,...,...,...,...,...,...,...,...,...,...,...
95,5.7,3.0,4.2,1.2,1,2023-03-05 12:35:55.891689,12,6,versicolor,3,2023,versicolor
96,5.7,2.9,4.2,1.3,1,2023-03-05 12:35:56.891691,12,6,versicolor,3,2023,versicolor
97,6.2,2.9,4.3,1.3,1,2023-03-05 12:35:57.891692,12,6,versicolor,3,2023,versicolor
98,5.1,2.5,3.0,1.1,1,2023-03-05 12:35:58.891693,12,6,versicolor,3,2023,versicolor
99,5.7,2.8,4.1,1.3,1,2023-03-05 12:35:59.891694,12,6,versicolor,3,2023,versicolor

### Creating the feature-vector

In [13]:
import mlrun.feature_store as fstore

# Feature vector definitions
feature_vector_name = 'example-fv'
feature_vector_description = 'Example feature vector'

features = ['iris.*']

# Feature vector creation
fv = fstore.FeatureVector(name=feature_vector_name,
                          features=features,
                          description=feature_vector_description)

# Save the feature vector in the MLRun DB
# so it can be referenced by the `store://`
# and show in the UI
fv.save()

### Testing online feature-vector

In [20]:
svc = fstore.get_online_feature_service(fv.uri)
resp = svc.get([{"label_mapped": "setosa"}])
resp

[None]

## deletion

In [21]:
import pymysql
from urllib.parse import urlparse

conn = pymysql.connect(host=urlparse(MYSQL_URL).netloc[urlparse(MYSQL_URL).netloc.index('@')+1:-5],
                       user='root',
                       passwd='password',
                       db=DATABASE)
cur = conn.cursor()
cur.execute(f'USE {DATABASE}')
sql = """drop table iris"""
sql2 = """drop table iris2"""
for query in [sql,sql2]:
    cur.execute(query)
    cur.connection.commit()
    variable = cur.fetchall()

In [22]:
projects = [project]
for project in projects:
    mlrun.get_run_db().delete_project(name=project.name, deletion_strategy='cascade')

import shutil
for f in os.listdir():
    if (not f.endswith('ipynb')) and f != '.test':
        if os.path.isfile(f):
            os.remove(f)
        elif os.path.isdir(f):
            shutil.rmtree(f)
        else:
            raise "A file that is not a notebook wasn't deleted"