# Testing MySql Source & target

In [1]:
!pip install sqlalchemy~=1.4.0
!pip install scikit-learn

Requirement already satisfied: sqlalchemy~=1.4.0 in /User/.pythonlibs/mlrun-base/lib/python3.9/site-packages (1.4.0)
Requirement already satisfied: greenlet!=0.4.17 in /User/.pythonlibs/mlrun-base/lib/python3.9/site-packages (from sqlalchemy~=1.4.0) (2.0.2)
Requirement already satisfied: scikit-learn in /User/.pythonlibs/mlrun-base/lib/python3.9/site-packages (1.2.1)
Requirement already satisfied: numpy>=1.17.3 in /conda/envs/mlrun-base/lib/python3.9/site-packages (from scikit-learn) (1.22.4)
Requirement already satisfied: scipy>=1.3.2 in /conda/envs/mlrun-base/lib/python3.9/site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in /User/.pythonlibs/mlrun-base/lib/python3.9/site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /User/.pythonlibs/mlrun-base/lib/python3.9/site-packages (from scikit-learn) (3.1.0)

In [2]:
import mlrun
import os

project = mlrun.get_or_create_project(name='sqlsource-test')

MYSQL_URL = os.environ.get('TEST_MYSQL_DB_URL', None) # e.g. mysql+pymysql://root:password@193.169.225.245:3306
DATABASE = os.environ.get('DATABASE', 'test_notebooks')

assert MYSQL_URL!=None, 'please provide MYSQL url'

MYSQL_DB_URL = os.path.join(MYSQL_URL,DATABASE)

> 2023-03-08 05:43:25,397 [info] Created and saved project sqlsource-test: {'from_template': None, 'overwrite': False, 'context': './', 'save': True}
> 2023-03-08 05:43:25,399 [info] created project sqlsource-test and saved in MLRun DB

## deleting tables

In [3]:
import pymysql
from urllib.parse import urlparse

conn = pymysql.connect(host=urlparse(MYSQL_URL).netloc[urlparse(MYSQL_URL).netloc.index('@')+1:-5],
                       user='root',
                       passwd='password',
                       db=DATABASE)
cur = conn.cursor()
cur.execute(f'USE {DATABASE}')
sql = """drop table iris"""
sql2 = """drop table iris2"""
for query in [sql,sql2]:
    try:
        cur.execute(query)
        cur.connection.commit()
        variable = cur.fetchall()
    except:
        print(f'failed to run the query : {query}')

failed to run the query : drop table iris
failed to run the query : drop table iris2

# using storey & pandas engine

## SqlTarget

Storey

In [4]:
from sklearn.datasets import load_iris
import datetime

df = load_iris(as_frame=True).data
df.columns = ["sepal_length",
         "sepal_width",
         "petal_length",
         "petal_width"]

df['timestamp'] = [datetime.datetime.now() + datetime.timedelta(seconds=i) for i in range(df.shape[0])]
df['label'] = load_iris().target
df['my_key'] = [str(x) for x in range(df.shape[0])]
df.head()

,sepal_length,sepal_width,petal_length,petal_width,timestamp,label,my_key
0,5.1,3.5,1.4,0.2,2023-03-08 05:43:26.377042,0,0
1,4.9,3.0,1.4,0.2,2023-03-08 05:43:27.377051,0,1
2,4.7,3.2,1.3,0.2,2023-03-08 05:43:28.377053,0,2
3,4.6,3.1,1.5,0.2,2023-03-08 05:43:29.377055,0,3
4,5.0,3.6,1.4,0.2,2023-03-08 05:43:30.377056,0,4

In [5]:
schema = {'sepal_length': float,
          'sepal_width': float,
          'petal_length': float,
          'petal_width': float,
          'label': int,
          'timestamp': datetime.datetime,
          'timestamp_hour': int,
          'timestamp_day_of_week': int,
          'label_mapped': str,
          'my_key': str,
         }

from mlrun.datastore.targets import SQLTarget

sql_target = SQLTarget(db_url=MYSQL_DB_URL,
                       table_name="iris",
                       schema=schema,
                       primary_key_column="my_key",
                       create_table=True)

In [6]:
import mlrun.feature_store as fstore
from mlrun.feature_store.steps import DateExtractor, MapValues

iris_label_dict = {i: label for i,label in enumerate(load_iris(as_frame=True).target_names)}

# Define the transactions FeatureSet
iris_set = fstore.FeatureSet("iris", 
                             entities=[fstore.Entity("my_key")], timestamp_key="timestamp",
                             description="transactions feature set",
                             engine='storey')

iris_set.graph\
    .to(DateExtractor(parts = ['hour', 'day_of_week'], timestamp_col = 'timestamp'))\
    .to(MapValues(mapping={'label': iris_label_dict}, with_original_features=True))

iris_set.plot(rankdir="LR")

In [7]:
fstore.ingest(iris_set, df, targets=[sql_target])

,label_mapped,sepal_length,sepal_width,petal_length,petal_width,timestamp,label,timestamp_hour,timestamp_day_of_week
my_key,,,,,,,,,
0,setosa,5.1,3.5,1.4,0.2,2023-03-08 05:43:26.377042,0,5,2
1,setosa,4.9,3.0,1.4,0.2,2023-03-08 05:43:27.377051,0,5,2
2,setosa,4.7,3.2,1.3,0.2,2023-03-08 05:43:28.377053,0,5,2
3,setosa,4.6,3.1,1.5,0.2,2023-03-08 05:43:29.377055,0,5,2
4,setosa,5.0,3.6,1.4,0.2,2023-03-08 05:43:30.377056,0,5,2
...,...,...,...,...,...,...,...,...,...
145,virginica,6.7,3.0,5.2,2.3,2023-03-08 05:45:51.377224,2,5,2
146,virginica,6.3,2.5,5.0,1.9,2023-03-08 05:45:52.377225,2,5,2
147,virginica,6.5,3.0,5.2,2.0,2023-03-08 05:45:53.377226,2,5,2
148,virginica,6.2,3.4,5.4,2.3,2023-03-08 05:45:54.377228,2,5,2
149,virginica,5.9,3.0,5.1,1.8,2023-03-08 05:45:55.377229,2,5,2

pandas

In [8]:
sql_target = SQLTarget(db_url=MYSQL_DB_URL,
                       table_name="iris2",
                       schema=schema,
                       primary_key_column="my_key",
                       create_table=True)

In [9]:
import mlrun.feature_store as fstore

# Define the transactions FeatureSet
iris_set = fstore.FeatureSet("iris2", 
                             entities=[fstore.Entity("my_key")], timestamp_key="timestamp",
                             description="transactions feature set",
                             engine='pandas')

iris_set.graph\
    .to(DateExtractor(parts = ['hour', 'day_of_week'], timestamp_col = 'timestamp'))\
    .to(MapValues(mapping={'label': iris_label_dict}, with_original_features=True))

iris_set.plot(rankdir="LR")

In [10]:
fstore.ingest(iris_set, df, targets=[sql_target])

,sepal_length,sepal_width,petal_length,petal_width,timestamp,label,timestamp_hour,timestamp_day_of_week,label_mapped
my_key,,,,,,,,,
0,5.1,3.5,1.4,0.2,2023-03-08 05:43:26.377042,0,5,2,setosa
1,4.9,3.0,1.4,0.2,2023-03-08 05:43:27.377051,0,5,2,setosa
2,4.7,3.2,1.3,0.2,2023-03-08 05:43:28.377053,0,5,2,setosa
3,4.6,3.1,1.5,0.2,2023-03-08 05:43:29.377055,0,5,2,setosa
4,5.0,3.6,1.4,0.2,2023-03-08 05:43:30.377056,0,5,2,setosa
...,...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2023-03-08 05:45:51.377224,2,5,2,virginica
146,6.3,2.5,5.0,1.9,2023-03-08 05:45:52.377225,2,5,2,virginica
147,6.5,3.0,5.2,2.0,2023-03-08 05:45:53.377226,2,5,2,virginica
148,6.2,3.4,5.4,2.3,2023-03-08 05:45:54.377228,2,5,2,virginica
149,5.9,3.0,5.1,1.8,2023-03-08 05:45:55.377229,2,5,2,virginica

## SQLSource

Storey

In [11]:
from mlrun.datastore.sources import SQLSource

sql_source = SQLSource(table_name='iris', 
                       db_url=MYSQL_DB_URL, 
                       key_field='my_key')

In [12]:
feature_set = fstore.FeatureSet("iris3", entities=[fstore.Entity('my_key')], engine='storey')

feature_set.graph\
    .to(DateExtractor(parts = ['month', 'year'], timestamp_col = 'timestamp'))\
    .to(MapValues(mapping={'label': iris_label_dict}, with_original_features=True, suffix='mapped2'))

feature_set.plot(rankdir="LR")


feature_set.set_targets(['parquet'], with_defaults=False)
fstore.ingest(feature_set, source=sql_source)

,label_mapped2,sepal_length,sepal_width,petal_length,petal_width,label,timestamp,timestamp_hour,timestamp_day_of_week,label_mapped,timestamp_month,timestamp_year
my_key,,,,,,,,,,,,
0,setosa,5.1,3.5,1.4,0.2,0,2023-03-08 05:43:26.377042,5,2,setosa,3,2023
1,setosa,4.9,3.0,1.4,0.2,0,2023-03-08 05:43:27.377051,5,2,setosa,3,2023
10,setosa,5.4,3.7,1.5,0.2,0,2023-03-08 05:43:36.377063,5,2,setosa,3,2023
100,virginica,6.3,3.3,6.0,2.5,2,2023-03-08 05:45:06.377172,5,2,virginica,3,2023
101,virginica,5.8,2.7,5.1,1.9,2,2023-03-08 05:45:07.377173,5,2,virginica,3,2023
...,...,...,...,...,...,...,...,...,...,...,...,...
95,versicolor,5.7,3.0,4.2,1.2,1,2023-03-08 05:45:01.377166,5,2,versicolor,3,2023
96,versicolor,5.7,2.9,4.2,1.3,1,2023-03-08 05:45:02.377168,5,2,versicolor,3,2023
97,versicolor,6.2,2.9,4.3,1.3,1,2023-03-08 05:45:03.377169,5,2,versicolor,3,2023
98,versicolor,5.1,2.5,3.0,1.1,1,2023-03-08 05:45:04.377170,5,2,versicolor,3,2023
99,versicolor,5.7,2.8,4.1,1.3,1,2023-03-08 05:45:05.377171,5,2,versicolor,3,2023

pandas

In [13]:
feature_set = fstore.FeatureSet("iris4", entities=[fstore.Entity('my_key')], engine='pandas')

feature_set.graph\
    .to(DateExtractor(parts = ['month', 'year'], timestamp_col = 'timestamp'))\
    .to(MapValues(mapping={'label': iris_label_dict}, with_original_features=True, suffix='mapped2'))

feature_set.plot(rankdir="LR")

feature_set.set_targets(['parquet'], with_defaults=False)
fstore.ingest(feature_set, source=sql_source)

,sepal_length,sepal_width,petal_length,petal_width,label,timestamp,timestamp_hour,timestamp_day_of_week,label_mapped,timestamp_month,timestamp_year,label_mapped2
my_key,,,,,,,,,,,,
0,5.1,3.5,1.4,0.2,0,2023-03-08 05:43:26.377042,5,2,setosa,3,2023,setosa
1,4.9,3.0,1.4,0.2,0,2023-03-08 05:43:27.377051,5,2,setosa,3,2023,setosa
10,5.4,3.7,1.5,0.2,0,2023-03-08 05:43:36.377063,5,2,setosa,3,2023,setosa
100,6.3,3.3,6.0,2.5,2,2023-03-08 05:45:06.377172,5,2,virginica,3,2023,virginica
101,5.8,2.7,5.1,1.9,2,2023-03-08 05:45:07.377173,5,2,virginica,3,2023,virginica
...,...,...,...,...,...,...,...,...,...,...,...,...
95,5.7,3.0,4.2,1.2,1,2023-03-08 05:45:01.377166,5,2,versicolor,3,2023,versicolor
96,5.7,2.9,4.2,1.3,1,2023-03-08 05:45:02.377168,5,2,versicolor,3,2023,versicolor
97,6.2,2.9,4.3,1.3,1,2023-03-08 05:45:03.377169,5,2,versicolor,3,2023,versicolor
98,5.1,2.5,3.0,1.1,1,2023-03-08 05:45:04.377170,5,2,versicolor,3,2023,versicolor
99,5.7,2.8,4.1,1.3,1,2023-03-08 05:45:05.377171,5,2,versicolor,3,2023,versicolor

### Creating the feature-vector

In [14]:
import mlrun.feature_store as fstore

# Feature vector definitions
feature_vector_name = 'example-fv'
feature_vector_description = 'Example feature vector'

features = ['iris.*']

# Feature vector creation
fv = fstore.FeatureVector(name=feature_vector_name,
                          features=features,
                          description=feature_vector_description)

# Save the feature vector in the MLRun DB
# so it can be referenced by the `store://`
# and show in the UI
fv.save()

### Testing online feature-vector

In [15]:
svc = fstore.get_online_feature_service(fv.uri)
resp = svc.get([{"my_key": "0"}])
resp

[{'label_mapped': 'setosa',
  'sepal_length': 5.1,
  'sepal_width': 3.5,
  'petal_length': 1.4,
  'petal_width': 0.2,
  'label': 0,
  'timestamp_hour': 5,
  'timestamp_day_of_week': 2}]

In [16]:
svc.close() # Must be done after use.

## deletion

In [17]:
import pymysql
from urllib.parse import urlparse

conn = pymysql.connect(host=urlparse(MYSQL_URL).netloc[urlparse(MYSQL_URL).netloc.index('@')+1:-5],
                       user='root',
                       passwd='password',
                       db=DATABASE)
cur = conn.cursor()
cur.execute(f'USE {DATABASE}')
sql = """drop table iris"""
sql2 = """drop table iris2"""
for query in [sql,sql2]:
    try:
        cur.execute(query)
        cur.connection.commit()
        variable = cur.fetchall()
    except:
        print(f'failed to run the query : {query}')

In [18]:
projects = [project]
for project in projects:
    mlrun.get_run_db().delete_project(name=project.name, deletion_strategy='cascade')

import shutil
for f in os.listdir():
    if (not f.endswith('ipynb')) and f != '.test':
        if os.path.isfile(f):
            os.remove(f)
        elif os.path.isdir(f):
            shutil.rmtree(f)
        else:
            raise "A file that is not a notebook wasn't deleted"